body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(36, 37, 35);
}




.mi-seccion {
    background-color: #c4ccc0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}


.mi-seccion h1 {
    color: #2d2e2d;
    text-align:center;
}


.mi-seccion h2 {
    color: #2d2e2d;
    text-align:center;
}
.img1{
    width: 250px;
    height: 300px;
    display: block;
    margin: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .container img {
    margin-right: 20px;
  }
  .container3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .container3 img {
    margin-right: 20px;
    width: 400px;
  }
  .container5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .container5 img {
    margin-right: 20px;
    width: 400px;
    height: 450px;
  }
  .container6 {
    display: flex;
    align-items: center;
  }
 
  .container6 img {
    margin-right: 5px;
    width: 400px;
    margin-right: 20px;
    }
    .container7 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
     
      .container7 img {
        margin-right: 20px;
        width: 400px;
        }
        .container8 {
            display: flex;
            align-items: right;
            justify-content: right;
          }
         
          .container8 img {
            margin-right: 20px;
            width: 400px;
          }
          .lista {
            text-align:left;
          }
         
          .list {
            text-align: left;
          }
          h3{
            text-align: center;
          }
          h4{
            text-align: center;
          }
          .p3{
            background-color: #c4ccc0;
        }
        .link{
          color: olivedrab;
      }
      .pages{
          width: 200px;
          height: auto;
          display: block;
          margin: auto;
      }
      .t2{
        background-color: #c4ccc0;
        text-align: center;
      }

